.metadata/
.recommenders/
RemoteSystemsTempFiles/
takamaka_development/bin
takamaka_runtime/bin
takamaka_translator/bin
voting/bin
coin/bin
storage/bin
crowd_funding/bin
crowd_funding/dist/
auction/bin
auction/dist/
remote_purchase/bin
takamaka_translator/test_jars/*
takamaka_runtime/dist/
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.vtc
*~
how_it_works/takamaka.pdf
