lib/
modules/
docs/
chain/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
blockchain/
family/
family_wrong/
ponzi/
auction/
tictactoe/
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.vtc
*~
how_it_works/takamaka.pdf
doc/
target/

# IntelliJ
out/
.idea_modules/
.idea/
*.iml

# gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
build/

# javascript
node_modules/
/dist
.npm

