lib/
modules/
docs/
chain*
mokamint-chain/
mokamint_node*
hotmoka-chain/
disk-chain/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.lck
*.keys
*.plot
*.pri
*.pub
*.pem
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.vtc
*~
.flattened-pom.xml
doc/
target/
scripts/*_node_info/
.classpath
.settings/
.project
hotmoka.log*
tendermint.log
moka_*.tar.gz

# IntelliJ
out/
.idea_modules/
.idea/
*.iml

# gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
build/
local.properties
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat

# javascript
node_modules/
dist/
.npm

bin/



